{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="embed-responsive embed-responsive-16by9 col-sm-4">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_ZBhfAo5Nyc" allowfullscreen></iframe>
    </div>
    <div class="col-sm-8">
        <h5>History</h5>
        <p>De Producent is expanding from a small-scale warehouse to an ultra-modern warehouse. The “Cheese Producers Cooperative – association for the export of full-fat Gouda Cheese with Government Quality label” later called ‘De Producent’ – was founded
            in 1915. The cooperative was established in order to create a better sales position to traders. Farmers sold their own cheese to traders who bought the cheese in line with market prices, meaning that the farmer frequently had to sell below
            cost. By establishing a cooperative, the farmers received a purchase guarantee and fixed compensation for the cheeses.</p>
            <p>Over one hundred years later, De Producent still offers purchasing guarantees and stands for the responsible purchase of
            the cheese produced by its farmers. Within the Cooperative, De Producent has a large number of farmers who produce cheese under the strict quality control of De Producent. As a result, De Producent can always supply a rich and flavorful range
            of high quality cheeses. Due to the growth of the domestic and international cheese markets, De Producent has become a modern and flexible company and is one of the larger suppliers of Dutch Farmhouse Cheese in Europe.</p> 
            <p>Looking towards the
            future and the expected domestic and international growth, the continued expansion of capacity is a must. De Producent is therefore working hard on constructing a brand new, ultra-modern cheese warehouse in Gouda. Click here for our news page
            with the latest news about our new warehouse.</p>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jWPDnBv_3gs" allowfullscreen></iframe>
</div>

{% endblock %}
