/*-----------------------------------------------------------------------background-colors*/

/*-----------------------------------------------------------------------special paddings, margins*/

.section-wrapper-position {
    padding-top: 20px;
}





/*-----------------------------------------------------------------------navbar*/
.navbar-shopping-cart-padding {
    padding-right: 20px;
    padding-bottom: 40px; 
}
.navbar-shopping-cart-padding>a {
    text-decoration: none;
}



/*-----------------------------------------------------------------------show-products-page*/
.product-list-badges-all {
    margin: 0 auto;
    margin-bottom: 20px;
}

.product-list-badges {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.show-products-card {
    min-height: 300px;
}

.show-products-card-img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    height: 150px;
    padding-left: 50px;
}

.info-icon {
    font-size: 20px;
}

.add-to-cart-number-input {
    display: inline-block;
    max-width: 80px;
}

/*-----------------------------------------------------------------------product-details-page*/

.product-img {
    object-fit: cover;
    max-width: 100%;
}

/*-----------------------------------------------------------------------*/
/*                            MEDIA QUERIES*/
/*-----------------------------------------------------------------------*/

@media screen and (min-width: 992px) {
.navbar-shopping-cart-padding {
    padding-bottom: 0px
}
}