{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <h2>Password reset</h2>
            </div>
            <div class="row">
                {% if validlink %}
                <form method="POST" class="accountform">
                    {% csrf_token %} {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </form>
                {% else %}
                <h3>Password reset unsuccessful</h3>
                <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>

{% endblock %}
