{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="row">
    <div class="col-md-2 col-sm-12">
        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action active">
                Your account
            </div>
            <a href="#" class="list-group-item list-group-item-action">Order history
              </a>
            <a href="#" class="list-group-item list-group-item-action">Profile
              </a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <h2>Profile details</h2>
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ profile_form | as_bootstrap}}
            <button type="submit" class="btn btn-primary">Change profile</button>
        </form>

    </div>

</div>



{% endblock %}


<!--<fieldset>-->
<!--      <legend>Change profile</legend>-->
<!--      <div class="form-group">-->
<!--          <label for="name">First name</label>-->
<!--          <input name="first_name" type="text" class="form-control" id="name" value={{request.user.profile.first_name}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="last_name">Last name</label>-->
<!--          <input name="last_name" type="text" class="form-control" id="last_name" value={{request.user.profile.last_name}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="exampleInputEmail1">Email address</label>-->
<!--          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value={{request.user.profile.email}}>-->
<!--          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Phone number</label>-->
<!--          <input name="phone_number" type="text" class="form-control" id="order_form" value={{request.user.profile.phone_number}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Country</label>-->
<!--          <input name="country" type="text" class="form-control" id="order_form" value={{request.user.profile.country}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Postcode</label>-->
<!--          <input name="postcode" type="text" class="form-control" id="order_form" value={{request.user.profile.postcode}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Town or city</label>-->
<!--          <input name="city" type="text" class="form-control" id="order_form" value={{request.user.profile.city}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Street address 1</label>-->
<!--          <input name="street_address_1" type="text" class="form-control" id="order_form" value={{request.user.profile.street_address1}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">Street address 2</label>-->
<!--          <input name="street_address_2" type="text" class="form-control" id="order_form" value={{request.user.profile.street_address2}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <label for="order_form">County</label>-->
<!--          <input name="county" type="text" class="form-control" id="order_form" value={{request.user.profile.county}}>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--          <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Change profile">-->
<!--      </div>-->

<!--  </fieldset>-->
