{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="row">
    <div class="col-md-2 col-sm-12">
        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action active">
                Your account
            </div>
            <a href="{% url 'show_order_history' %}" class="list-group-item list-group-item-action">Order history
              </a>
            <a href="{% url 'show_profile' %}" class="list-group-item list-group-item-action">Profile
              </a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">
        <h2>Profile details</h2>
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ profile_form | as_bootstrap}}
            <button type="submit" class="btn btn-primary">Change profile</button>
        </form>

    </div>
</div>



{% endblock %}
