{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="row">
    <div class="col-md-2 col-sm-12">
        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action active">
                        Your account
                  </div>
            <a href="#" class="list-group-item list-group-item-action">Order history
              </a>
            <a href="#" class="list-group-item list-group-item-action disabled">Settings
              </a>
        </div>
    </div>
    <div class="col-md-10 col-sm-12">

    </div>

</div>



{% endblock %}
