{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="bs-component product-list-badges-all text-center">
        <a href="/products" class=""><span class="badge badge-warning product-list-badges">Show all</span></a>
        <a href="/products?category=Our brand" class=""><span class="badge badge-warning product-list-badges">Our brands</span></a>
        <a href="/products?category=Farmhouse cheese" class=""><span class="badge badge-warning product-list-badges">Farmhouse cheese</span></a>
        <a href="/products?category=Specialties" class=""><span class="badge badge-warning product-list-badges">Specialties</span></a>
        <a href="/products?category=Herb cheese" class=""><span class="badge badge-warning product-list-badges">Herb cheese</span></a>
    </div>
</div>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-sm-6 col-12">
        <div class="bs-component">
            <div class="card border-success mb-3">
                <div class="card-header">{{product.category}}</div>
                <img class="show-products-card-img" src='{{MEDIA_URL}}{{product.image}}' alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h6 class="pull-right">€{{product.price}}</h6>
                    <p class="card-text">{{product.description | truncatechars:115}}</p>

                    <div class="row">
                        <div class="form-group col-10">
                            <form action="{% url 'add_to_cart' %}" method="post">
                                <input type="number" class="form-control add-to-cart-input-field" name='quantity' placeholder="1" id="inputDefault"> {% csrf_token %}
                                <input type="hidden" name="id" value="{{product.id}}" />
                                <input class="btn btn-success add-to-cart-button" type="submit" value="Add To Cart" />
                            </form>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'product_details' product.id%}" class="btn btn-primary float-right" role="button"><span><i class="info-icon fas fa-info-circle"></i></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
