{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="bs-component product-list-badges-all text-center">
        <a href="/products" class=""><span class="badge badge-warning product-list-badges">Show all</span></a>
        <a href="/products?category=Our brand" class=""><span class="badge badge-warning product-list-badges">Our brands</span></a>
        <a href="/products?category=Farmhouse cheese" class=""><span class="badge badge-warning product-list-badges">Farmhouse cheese</span></a>
        <a href="/products?category=Specialties" class=""><span class="badge badge-warning product-list-badges">Specialties</span></a>
        <a href="/products?category=Herb cheese" class=""><span class="badge badge-warning product-list-badges">Herb cheese</span></a>
    </div>
</div>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-sm-6 col-12">
        <div class="bs-component">
            <div class="card border-success mb-3">
                <div class="card-header">{{product.category}}</div>
                <img class="show-products-card-img" src='{{MEDIA_URL}}{{product.image}}' alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <h6 class="pull-right">€{{product.price}} per kg</h6>
                    <p class="card-text">{{product.description | truncatechars:115}}</p>
                    <a href="{% url 'product_details' product.id%}" class="card-link"><i class="info-icon fas fa-info-circle"></i></span> More information</a>

                    <div class="row">
                        <div class="form-group col-12 product-card-form">
                            <form action="{% url 'add_to_cart' %}" method="post">
                                <input type="number" class="form-control add-to-cart-input-field" name='quantity' placeholder="quantity" id="inputDefault"> {% csrf_token %}
                                <input type="hidden" name="id" value="{{product.id}}" />

                                <select class="custom-select add-to-cart-kg-input" name="weight">
                          {% for i in product.available_weights.all%} <option value={{i}}>{{i}}</option> {% endfor %}
                        </select>
                                <button type="submit" class="btn btn-success add-to-cart-button"><i class="fas fa-cart-plus info-icon"></i></button>

                            </form>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
